@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #030712;
  --foreground: #f9fafb;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

::selection {
  background-color: rgba(59, 130, 246, 0.3);
  color: white;
}
